body {
    background-color: white;
}

/* Navbar styling */
#navbar{
  background: rgba(0, 0, 0, 0.5);
  font-family: 'Raleway', sans-serif;
  color: white;
  z-index: 1;

/* Additions */
/* Set up flexbox */
  display: flex;
  position: absolute;
  width: 100%;
  height: 80px;
  padding: 0 100px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}


.navbar-left a{
  margin-left: -33px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}


.navbar-right {
  display: flex;
  align-items: center;
}


.navbar-right a{
  color: inherit;
  display: inline-block;
  font-size: 16px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  /*transition: all .2s; */
}


#navbar a:visited {
  color: inherit;
}


#navbar a:hover, {
  background-color: white;
  color: black;
}


#content {
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Character background */
#content.characters{
  /* image source:  http://genchi.info/daenerys-targaryen-hd-wallpaper */
  background-image: url(images/daenerys.jpg);
}


/* Content container styling for all pages */
.outer{
  width: 60%;
  padding: 30px;
  margin: 20px 20px 20px 40px;
}


/* Character specific container styling */
.outer.characters {
    background-color: rgb(243,243,243,0.6);
}


h1 {
  text-align: center;
}


table, th, td{
  border: 1px solid black;
}


th, td{
  padding: 10px;
}
